.heroSection {
  max-width: 80rem;
  margin: 0 auto;
  .heroContent {
    position: relative;
    z-index: 2;
    margin-top: 15rem;
    width: 100%;
    max-width: 49.0625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .header {
      width: 100%;
      font-size: 5.5rem;
      font-weight: 600;
      line-height: 1.1;
      color: #dcf8bd;
      .subHeader {
        margin-left: 3rem;
      }
    }
    .content {
      font-size: 1.5rem;
      color: #fff;
    }

    .landingLogo {
      position: absolute;
      z-index: -1;
      right: -40rem;
      top: -10rem;
    }

    .buttonGroup {
      margin-top: 3rem;
      font-size: 1.25rem;
      display: flex;
      gap: 2rem;
      .button {
        border-radius: 999px;
        cursor: pointer;
        background-color: #dcf8bd;
        color: #000;
        font-size: 1.5rem;
        border: 0;
        padding: 9px 15px;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
}
