.heroContent {
  margin-top: 20rem;
  
}

.header {
  width: 100%;
  line-height: 1.1;
  font-weight: 600;
  color: #dcf8bd;
}

.content {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
}

.buttonGroup {
  margin-top: 3rem;
  font-size: 1rem;
  display: flex;
  gap: 2rem;
}

.button {
  border-radius: 999px;
  cursor: pointer;
  background-color: #dcf8bd;
  color: #000;
  font-size: 1.2rem;
  border: 0;
  padding: 9px 10px;
  text-decoration: none;
  display: inline-block;
}