.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  height: 6rem;
  background-color: #202020;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: 'Fira', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dcf8bd;
}
.logo a {
  display: flex;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #dcf8bd;
}
.navigation {
  display: flex;
  gap: 30px;
}

.navigation a {
  text-decoration: none;
  color: #dcf8bd;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 1.5rem;
  }
}
