.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .landingTitle {
    font-size: 60px;
    color: #b83831;
    font-weight: 600;
    transform: skewX(-15deg);
  }
}
