.aiContent {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 15rem;
  .title {
    font-size: 5.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    line-height: 1.3;
    .subTitleOne {
      margin-left: 1.5rem;
      color: #dcf8bd;
    }
    .subTitleTwo {
      color: #fff;
    }
    .subTitleThree {
      margin-left: 3rem;
      color: #dcf8bd;
    }
    .subTitleFour {
      color: #fff;
    }
  }
  .description {
    position: absolute;
    right: 5rem;
    top: 16rem;
    max-width: 42rem;
    .descTitle {
      color: #dcf8bd;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    .descContent {
      color: #fff;
      font-size: 1.5rem;
    }
    .image{
      margin-top: -2rem;
    }
  }
}
