.customLink {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.linkWrapper {
  padding: 2rem 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  line-height: 2.3;
}


.linkItem {
  font-size: 1.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  line-height: 2.3;
}

.title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #54ae8c;
}

.customLink span:hover {
  text-decoration: underline;
}