.customLink {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
}

.linkWrapper{
  display: flex;
  padding: 0 2rem; 
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .linkWrapper {
    display: block;
  }
  .linkItem {
    margin-bottom: 1.5rem;
  }
}

.left {
  display: flex;
  flex-direction: column;
  line-height: 2.3;
}


.linkItem {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  flex-grow: 1;
}

.dropLink {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #b7c9c6;
}

.right {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  line-height: 2.3;
}

.title {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #54ae8c;
}

.customLink span:hover {
  text-decoration: underline;
}

.copyright{
  margin-top: 3rem;
  text-align: center;
  color: #fff;
}